* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex{
    display: flex;

}

#hero-section .text-section, #hero-section .image-section{
    width: 50%;
}

#hero-section, #quote-section {
    padding: 80px 0;
}
.image-section{
    background: url(img/mechanic-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 61vh;
}
.text-section h1{
    font-size: 50px;
    font-family: 'Manrope';
}
.orange-button{
    background: #FF6433;
    border-radius: 12px 5px;
    padding: 16px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 35px;
    display: inline-block;
}

.time-section{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.time-section .time-icon{
    width: 8%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-section .time-text{
    width: 92%;
}

.time-section img{
    width: 100%;
}

#hero-section .flex{
    align-items: center;
}

.time-text h5{
    color: #939191;
    font-size: 16px;
}

.time-text p{
    font-size: 18px;
    color: #1E1B1B;
}

#quote-section{
    background: #E2E6E9;
}

#quote-section .left-section, #quote-section .right-form-section{
    width: 50%;
    align-content: center;
    align-items: center; 
}

#quote-section ul{
    list-style: none;
}

#quote-section ul li{
    margin-bottom: 20px;
}

#quote-section .left-section h2{
    margin-bottom: 30px;
}

.left-section h2{
    font-size: 48px;
    font-family: 'Manrope';
}

#quote-section .left-section .image-box{
    width: 5%;
    margin-right: 10px;

}
#quote-section .left-section .image-box img{
    width: 100%;
}

#quote-section .left-section .text-box{
    width: 50%;
}

#quote-section .left-section .text-box h5{
    font-size: 20px;
}
#quote-section .left-section .text-box p{
    font-size: 10px;
    color: #1E1B1B;
    margin-bottom: 5px;
}

.text-box a{
    text-decoration: none;
    color: #1E1B1B;
    margin-right: 10px;
}

#quote-section .right-form-section h3{
    font-size: 48px;
    margin-bottom: 32px;
}

#quote-section .right-form-section input{
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    border: none;
}
#learn-section .left-2-section, #learn-section .right-2-section{
    width: 50%;
    align-content: center;
    align-items: center;
}

#quote-section, #learn-section {
    padding: 80px 0;
}

#learn-section .left-2-section h2{
    font-size: 48px;
    margin-bottom: 16px;
}

#learn-section .left-2-section p{
    color: #1E1B1B;
    font-size: 15px;
    margin-bottom: 32px;
}

#learn-section .right-2-section img{
    align-items: center;
    align-content: center;
    margin-right: 24px;

}

.flex-row .flex{
    justify-content: space-between;
}

#learn-section ul{
    list-style: none;
}

#learn-section ul li{
    margin-bottom: 20px;
}

#learn-section ul li h5{
    font-size: 32px;
}
#learn-section ul li p{
    font-size: 18px;
    margin-top: -15px;
}
#learn-section .flex .image-box{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 24px;
}

#learn-section .flex .image-box img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#learn-section .flex .text-box{
    width: 95%;
}

#learn-section .parent{
    align-content: center;
    align-items: center;
}

#offer-section{
    background: #F2F2F2;
}

#offer-section h1{
    font-size: 58px;
    text-align: center;
}

#offer-section h2{
    font-size: 24px;
    text-align: center;
}

#offer-section .container{
    padding-bottom: 50px;
    padding-top: 50px;
}

#offer-section .first-row .service-box .box-area, #wheel{
    background: #fff;
    width: 180px;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 150px;
    padding-top: 30px;
    margin-top: 50px;
}

#offer-section  #wheel:hover{
    background-color: #000;
}

#offer-section .first-row .service-box .box-area:hover, #offer-section .second-row .service-box .box-area:hover{
    background-color: #FF6433;
}

#wheel{
    background: #FF6433;
    color: #fff;
}
#offer-section .second-row .service-box .box-area{
    background: #fff;
    width: 180px;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 150px;
    padding-top: 30px;
    margin-top: 7px;
}

#offer-section .first-row, .second-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#offer-section .container .flex{
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
}

#offer-section .container a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

#interact-section{
    background: #F2F2F2;
    height: 550px;
}

#interact-section .flex{
    height: 80vh;
}

#interact-section .first-img{
    width: 20%;
    background: url(img/car-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 61vh;
}

#interact-section .second-img{
    width: 40%;
    background: #FF6433;
    padding-top: 65px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    height: 61vh;
}

#interact-section .second-img a{
    background: #000000;
    padding-bottom: 10px
}

#interact-section .second-img h1{
    color: #fff;
    font-size: 50px;

}

#interact-section .third-img{ 
    width: 40%;
    background: url(img/wire-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 61vh;
    
}

#interact-section .container{
    background: #F2F2F2;
}
.rate-flex{
    display: flex;
    justify-content: space-between;
}

.rate img{
    margin-bottom: 10px;
}

#interact-section .flex{
    margin-bottom: -50px;
}

#interact-section .container{
    margin-bottom: -50px;
}


.rate-top{
    display: flex;
    justify-content: space-between;
}

.rate img{
    margin-bottom: 10px;
}

#interact-section .flex{
    margin-bottom: -50px;
}

#interact-section .container{
    margin-bottom: -50px;
}

.rate-top img{
    height: 90px;
    margin-top: 30px;
}

#brand-section .container{
    text-align: center;
}

#brand-section .container h1{
    font-size: 48px;
    margin: 50px;
}

#brand-section{
    height: 90vh;
}

#review-section{
    background: #F2F2F2;
    height: 90vh;   
}

#review-section .container{
    text-align: center;
}

#review-section .container h2{
    font-size: 48px;
    margin: 40px;
    padding-top: 40px;
}

#review-section .left-comment{
    background: #fff;
    height: 230px;
    margin: 20px;
    padding: 15px;
}

#review-section .left-comment{
    width: 48%;
}

#review-section .left-comment p{
    text-align: left;
    font-size: 18px;
}

#review-section .container .flex{
    justify-content: space-between;
}

#review-section .left-comment .person{
    display: flex;
    align-content: center;
    align-content: center;
    text-align: left;
    margin-bottom: 25px;
}

#review-section .left-comment .person img{
    margin-right: 10px;
}

#contact-section{
    background: #1E1B1B;
    height: 70vh;
    
}

#contact-section .container{
    color: #fff;
    padding: 40px;
    padding-top: 50px;
}

#contact-section .left-contact h2{
    font-size: 48px;
    margin-bottom: 60px;
}

#contact-section .flex{
    align-content: center;
    
}
#contact-section .left-contact .flex a{
    margin-right: 30px
}

#contact-section .right-contact p{
    font-size: 18px;
    margin-bottom: 13px;
}

#contact-section .right-contact h1{
    font-size: 24px;
    margin-bottom: 24px;
}

#footer{
    background: #000000;
    
}
#footer .container{
    color: #FFF;

}

#footer .container a{
    color: #FFF;
}

#service{
    height: 80vh;
}


#service .container{
    height: 300px;
}

#service .flex .img-sec{
    width: 40%;
}

#service .flex .text-sec{
    width: 60%;
}

.img-sec{
    background: url(img/service.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 61vh;
}

.text-sec{
    background: #1E1B1B;
    color: #fff;
    padding: 45px;
}

.text-sec h2{
    font-size: 64px;

}

.text-sec p{
    color: #F2F2F2;
    font-size: 18px;
    margin-top: 35px;
    
}

.text-sec a{
    background: #FF6433;
    border-radius: 12px 5px;
    padding: 16px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 35px;
    display: inline-block;
}

#auto{
    background: #F5F5F5;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100vh;
    
}
#auto .flex{
    justify-content: space-between;
}
#auto .flex .left-auto, #auto .flex .right-auto{
    width: 49%;
}

#auto .flex .left-auto{
    background: #fff;
    padding: 15px;
}

#auto .flex .left-auto .pics img{
    width: 100%
}
#auto .flex .left-auto h2{
    font-size: 48px;
    margin-top: 14px;
    margin-bottom: 14px
}

#auto .flex .left-auto p{
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 14px
}

#auto .flex .left-auto a{
    text-decoration: none;
    color: #000;
}

#auto .right-auto .service-box .box-area{
    background: #fff;
    width: 180px;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

#auto .right-auto .flex{
    justify-content: space-between;
    height: 180px;
    
}

#auto .right-auto .service-box :hover{
    background-color: #FF6433;
}

#operate{
    height: 90vh;
}

#operate .container .flex .left, #operate .container .flex .right{
    width: 49%;
}

#operate .container .flex{
    justify-content: space-between;
    align-content: center;
}

#operate .container{
    padding: 20px;
}

#operate .container .left h2{
    font-size: 48px;
    margin-bottom: 20px
}

#operate .container .left .flex{
    margin-bottom: 37px;
}

#operate .container .left .flex img{
    position: center;
    margin-right: 15px;
}

#operate .container .left .flex h3{
    font-size: 20px;
}

#operate .container .right .flex{
    justify-content: space-between;
}
#operate .container .right .flex img{
    width: 49%;
    height: 477px;
}

#diagnos{
    height: 100vh;
}

#diagnos .container{
    padding: 20px;
}

#diagnos .container .flex .left, #diagnos .container .flex .right{
    width: 49%;
    align-content: center;
}
#diagnos .container .left .flex img{
    width: 48%;
    height: 477px
}
#diagnos .container .flex{
    justify-content: space-between;
}

#diagnos .container .flex h2{
    font-size: 48px;
    margin-bottom: 30px;
}

#diagnos .container .flex p{
    font-size: 18px;
    margin-bottom: 15px;
}

#diagnos .container .flex a{
    background: #FF6433;
    border-radius: 12px 5px;
    padding: 16px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 35px;
    display: inline-block;
}
/* Mobile view */
@media (max-width: 426px) {
    .main-header{
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .right-section .navigation ul{
        flex-direction: column;
    }
    .right-section .navigation{
        border: none;
        width: 100%;
    }

    .right-section .navigation li{
        padding: 10px 0;
        margin-right: 0px;
    }

    .right-section .navigation li a{
        display: block;
    }

    .road-assistance{
        padding: 10px 0;
    }

    #hero-section .container .flex{
        flex-direction: column;
    }

    #hero-section .container .flex .text-section, #hero-section .container .flex .image-section{
        width: 100%;
    }

    #hero-section .container .flex .text-section{
        order: 2;
    }

    #hero-section .container .flex .image-section{
        order: 1;
    }

    #hero-section .container .flex .text-section h1{
        font-size: 35px;
    }
    
    #hero-section .container .flex .text-section .time-section .flex{
        display: flex;
        justify-content: space-between;
    }

    #hero-section .container .flex .image-section{
        margin-top: 20px;
        height: 400px;
    }

    .flex-sm-screen {
        flex-direction: column;
    }

    #quote-section .container .flex .left-section, #quote-section .container .flex .right-form-section{
        width: 100%;
    }

    #quote-section .container .flex .left-section h2{
        font-size: 35px;
    }

    #quote-section .container .left-section #flex-quote{
        display: flex;

    }

    #quote-section .left-section .text-box p {
        font-size: 11px;
        margin-bottom: 5px;
    }

    #quote-section .left-section .text-box h5 {
        font-size: 18px;
    }

    .text-box a {
        text-decoration: none;
        color: #1E1B1B;
        margin-right: 10px;
        font-size: 8px;
        
    }

    #quote-section .right-form-section h3 {
        font-size: 35px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    
    .orange-button {
        background: #FF6433;
        border-radius: 12px 12px;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        margin-top: 22px;
        display: inline-block;
    }
    
    #quote-section .right-form-section form input{
        width: 90%;
        padding: 10px;
        margin-bottom: 4px;
        border: none;
    }

    #quote-section .right-form-section form{
        text-align: center;
    }

    #learn-section .left-2-section, #learn-section .right-2-section{
        width: 100%;
    }

    #learn-section .left-2-section{
        margin-bottom: 40px;
    }

    #learn-section .left-2-section h2 {
        font-size:35px;
        margin-bottom: 16px;
    }

    #learn-section .left-2-section p{
        font-size: 11px;
        margin-bottom: 12px
    }

    #learn-section ul li h5 {
        font-size: 25px;
    }

    #learn-section ul li .flex{
        margin-bottom: -10px;
    }

    #learn-section ul li p {
        font-size: 15px;
        margin-top: -15px;
    }

    #learn-section .flex .image-box img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        margin-bottom: 5px;
        margin-top: 0px;
    }

    #learn-section ul li p {
        font-size: 14px;
        margin-top: 0px;
    }


    #offer-section h1 {
        font-size: 31px;
        text-align: center;
    }

    #offer-section h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 11px;
    }

    #offer-section .first-row .service-box{
        display: flex;
        width: 24%;
        justify-content: space-between;
    }

    #offer-section .second-row .service-box{
        display: flex;
        width: 24%;
        justify-content: space-between;
    }

    #offer-section .second-row .service-box .box-area{
        height: 100px;
    }

    #offer-section .first-row .service-box .box-area{
        height: 100px;
    }

    #offer-section .service-box img{
        height: 25px;
    }

    #offer-section .service-box h3{
        font-size: 12px
    }

    #wheel{
        width: 24%;
        height: 100px;
    }

    #wheel img{
        height: 25px;
    }

    #wheel h3{
        font-size: 12px;
    }

    #interact-section{
        height: 550px;
    }

    #interact-section .first-img, #interact-section .second-img, #interact-section .third-img{
        width: 100%;
    }

    #interact-section .flex{
        height: 448px;
    }


    #interact-section .second-img{
        height: 55vh;
        padding: 30px;
    }

    #interact-section .third-img{
        height: 55vh;
        padding: 30px;
    }

    #interact-section .second-img h1 {
        color: #fff;
        font-size: 21px;
    }

    .rate-flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .rate-flex .rate{
        width: 24%;
    }

    .rate-flex .rate img{
        height: 22px;
    }

    .rate-flex .rate h3{
        font-size: 15px;
    }

    #interact-section .container{
        margin-top: 58px
    }

    #brand-section{
        height: auto;
    }

    #brand-section .container h1 {
        font-size: 25px;
        margin: 4px;
    }

    #brand-section .container .rate-container{
        display: flex;
        justify-content: space-between;
    }

    #brand-section .container .rate-top{
        width: 48%;
    }

    #review-section {
        height: auto;
    }

    #review-section .container h2 {
        font-size: 24px;
        margin: -4px;
        padding-top: 3px;
    }

    #review-section .left-comment {
        background: #fff;
        height: 164px;
        margin: 4px;
        padding: 0px;
    }

    #review-section .left-comment .person img {
        margin-right: 10px;
        height: 28px;
        margin-left: 7px;
        margin-top: 7px;
    }

    #review-section .left-comment .person h3{
        font-size: 13px;
        margin-top: 7px;
    }

    #review-section .left-comment .person p{
        font-size: 7px;
    }
 
    #review-section .left-comment p {
        text-align: center;
        font-size: 10px;
        margin-left: 7px;
        margin-right: 7px;
    }

    #review-section .container img{
        text-align: center;
        height: 2px;
    }

    #contact-section{
        height: auto;
    }

    #contact-section .container{
        padding: 10px
    }

    #contact-section .left-contact, #contact-section .left-contact{
        width: 100%
    }

    #contact-section .left-contact h2 {
        font-size: 30px;
        margin-bottom: 19px;
    }

    #contact-section .flex {
        margin-bottom: 20px;
    }

    #contact-section .flex a img{
        height: 14px;
    }

    #contact-section .left-contact .flex a {
        margin-right: 16px;
    }

    #contact-section .right-contact p {
        font-size: 14px;
        margin-bottom: 1px;
    }

    #contact-section .right-contact h1 {
        font-size: 8px;
        margin-bottom: 17px;
    }
}